*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    background: #111111;
    display: flex;
    flex-direction: static;
}

button:hover{
    cursor:pointer;
}

.logo{
    position: absolute;
    top: 1px;
    left: 12px;
}

.backbutt{
    position: fixed;
    top: 500px;
    left: 1120px;

    background-color: #ffe448;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}

.main{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 20px;
    margin-left: 15px;
}
.info{
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
    font-weight:700;
    color:rgb(255, 255, 255);
}

.headinfo{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 40px;
    font-weight:700;
    color:rgb(255, 198, 43);
    margin-left: 530px;
}
.pemeran{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttcarac1{
    background-color: #ffe448;
    margin: 10px;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}
.buttcarac2{
    background-color: #ffe448;
    margin: 10px;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}
.buttcarac3{
    background-color: #ffe448;
    margin: 10px;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}
.buttcarac4{
    background-color: #ffe448;
    margin: 10px;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}
.buttcarac5{
    background-color: #ffe448;
    margin: 10px;
    border-radius: 10px;
    border-style:none;
    color: rgb(61, 61, 61);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}

.infcarac{
    display: flex;
    flex-direction: row;
}



.infcarac1{
    display: none;
    margin-top: 40px;
    margin-left: 40%;
}

.infcarac2{
    display: none;
    margin-top: 40px;
    margin-left: 40%;
}

.infcarac3{
    display: none;
    margin-top: 40px;
    margin-left: 40%;
}

.infcarac4{
    display: none;
    margin-top: 40px;
    margin-left: 40%;
}

.infcarac5{
    display: none;
    margin-top: 40px;
    margin-left: 40%;
}

.name{
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-left: 70px;

}

.foot{
    position: absolute;
    top: 1800px;
}
.sinop{
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
    font-weight: 700;
    color: #ffe448;
    text-align: center;

}